*,
*:after,
*:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: large;
}

body {
    color: #111;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.projects {
    margin: 0 auto;
    width: 300px;
}

.cards {
    display: flex;
    overflow-x: auto;

    height: 80vh;
    align-items: center;

    scroll-snap-type: x mandatory;
}

.item {
    width: 100vw;
    flex-shrink: 0;
    scroll-snap-align: center;
}

.card {
    width: 80vw;
    margin: 0 auto;
    padding: 10px;
}

.card-status {
    color: #001F3F;
    background-color: #7FDBFF;
    padding: 5px 20px;
}
